src/main/xsd/create.contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:include schemaLocation="customer_types.xsd"/>
    
    <xs:element name="customer">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="custIdType">                  
                </xs:element>
                <xs:element name="contract" maxOccurs="unbounded" type="contractType">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
   
</xs:schema>