src/main/xsd/resource.update.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!-- RESOURCES.UPDATE (Non Kernal)-->
<xs:element name="RESOURCES_UPDATE">
	<xs:complexType>
		<xs:sequence>
        	<xs:element maxOccurs="1" minOccurs="1" name="DN_NUM"
            	type="xs:string">
        	</xs:element>
        	<xs:element maxOccurs="1" minOccurs="1" name="PORT_NUM"
            	type="xs:string">
	        </xs:element>
    	    <xs:element maxOccurs="1" minOccurs="1" name="SM_SERIALNUM"
        	    type="xs:string">
	        </xs:element>
        </xs:sequence>
	</xs:complexType>
</xs:element>                
</xs:schema>